body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
}

footer {
  padding: 48px 0;
}

img {
  height: 200px;
}

/* Remove underlines from anchor tags */
a {
  text-decoration: none;
}

/* Style the header */
header {
  background-color: #f5f5f5;
  padding: 10px;
}

nav {
  border-bottom: 1px solid #ff5500;
  padding: 16px;
}

nav a {
  color: black;
}

/* Style the footer */
footer {
  background-color: #f5f5f5;
  padding: 40px 0;
  font-size: 24px;
}

/* Style the recipe text */
.recipe-list h3 a {
  color: #ff5500;
}

/* Style the recipe list */
.recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 20px;
}

/* Style the recipe list image */
.recipe-list img {
  width: 100%;
  height: auto;
}

/* Style the recipe rating */
.rating {
  text-align: center;
  font-size: 20px;
}

/* Specify the grid row for the second h3 and rating div */
.recipe-list div:nth-of-type(2) {
  grid-row: 2;
}
